<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <servlet-name>addUserServlet</servlet-name>
  <servlet-class>servlet.AddUserServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>selectAllFangWu</servlet-name>
  <servlet-class>servlet.SelectAllFangWuServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>selectOneFangWu</servlet-name>
  <servlet-class>servlet.SelectOneFangWuServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>loginServlet</servlet-name>
  <servlet-class>servlet.LoginServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>selectIndexFangWu</servlet-name>
  <servlet-class>servlet.IndexAndLoginChaXunFangWuServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>SelectAllHouseTypeServlet</servlet-name>
  <servlet-class>servlet.UpdateAndInsertToPostServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MyAllFangWuServlet</servlet-name>
  <servlet-class>servlet.MyAllFangWuServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>SessionCloseServlet</servlet-name>
  <servlet-class>servlet.SessionCloseServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>UpdateAndInsertToBataDaoServlet</servlet-name>
  <servlet-class>servlet.UpdateAndInsertToBataDaoServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DeleteFangWuServlet</servlet-name>
  <servlet-class>servlet.DeleteFangWuServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>addUserServlet</servlet-name>
  <url-pattern>/addUser</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>selectAllFangWu</servlet-name>
  <url-pattern>/AllMess</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>selectOneFangWu</servlet-name>
  <url-pattern>/selOne</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>loginServlet</servlet-name>
  <url-pattern>/Login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>selectIndexFangWu</servlet-name>
  <url-pattern>/selectIndexFangWu</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SelectAllHouseTypeServlet</servlet-name>
  <url-pattern>/SelectAllHouseTypeServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MyAllFangWuServlet</servlet-name>
  <url-pattern>/MyAllFangWuServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SessionCloseServlet</servlet-name>
  <url-pattern>/SessionCloseServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateAndInsertToBataDaoServlet</servlet-name>
  <url-pattern>/UpdateAndInsertToBataDaoServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteFangWuServlet</servlet-name>
  <url-pattern>/DeleteFangWuServlet</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>AllMess</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
